<div class="container" style="margin:10px;">
  <ngb-tabset>
    <ngb-tab title="City List">
      <ng-template ngbTabContent>
          <city-detail></city-detail>
          <city-list></city-list>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Add">
      <ng-template ngbTabContent>
          <city-add-city></city-add-city>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Update">
        <ng-template ngbTabContent>
            <city-update-city></city-update-city>
        </ng-template>
      </ngb-tab>
  </ngb-tabset>
</div>

